<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Login | Colorado Data Locator</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:300i,400,500,600,700' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="homeStyle.css" />
  </head>
  <body>
    <!--   Banner top   -->
     <div class="container-fluid">

<!-- HEADER AREA -->

      <div class="row ">

        <div class="col-md-12 firstRow">
          <div class="col-md-4">
            <img class="shiftLogo" src="imgCFD/Shift_Official_Logo.png">
          </div>
          <div class="col-md-8">
            <div class="col-md-7">
            <img class="CDL_logo" src="imgCFD/CDL_logo.png">
            </div>
          </div>
        </div>

      </div>

<!-- LOGIN AREA -->

      <div class = "row">
        <div class = "col-md-4">
          <div class = "loginSquare pull-right">
            <div class = "col-md-12 loginPosition">
              <h2 class = "fRight">
                Login
              </h2>
            </div>
            <div class = "col-md-12">
              <form class="fRight">
                <div class = "form-group">
                  <input type = "email" class = "form-control loginInput" id = "exampleInputEmail1" placeholder = "Email">
                </div>
                <div class = "form-group">
                  <input type="password" class = "form-control loginInput" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class = "col-md-12 rButton">
                  <button type="submit" class="btn btn-default loginButton fRight">
                    log in
                  </button>
                </div>
              </form>
<!-- SIGN UP -->
          <div class = "signUp" id = "dialog" title= "Sign Up">

            <form>
              <fieldset class="signUp">
								      <label class="signUpName"for="name" style="font-weight:500;">NAME</label><br/>
								      <input class="signUp" type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" placeholder="enter your name"><br/>
								      <label class="signUp" for="email" style="font-weight:500;">EMAIL</label><br/>
								      <input class="signUp" type="text" name="email" id="email" class="text ui-widget-content ui-corner-all" placeholder="enter your email address"><br/>
								      <label class="signUp" for="username" style="font-weight:500;">USERNAME</label><br/>
								      <input class="signUp" type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" placeholder="enter your username"><br/>
								      <label class="signUp" for="password" style="font-weight:500;">PASSWORD</label><br/>
								      <input class="signUp" type="password" name="password" id="password" class="text ui-widget-content ui-corner-all" placeholder="enter your password">
								      <button class="btn signupButton2 fRight" id="opener">sign up</button>
								    </fieldset>
            </form>

          </div>
          <div class="col-md-12 rButton">
            <button class= "btn signupButton fRight" id="opener">sign up</button>
          </div>
            </div>

          </div>

        </div>

<!-- INTRO AREA -->
        <div class="col-md-8 helloBack">
          <div class="col-md-7 divider">
            <h1>Hello!</h1>
            <h4>Welcome to Colorado Data Locator.</h4>
            <p>Colorado Data Locator is an open source geocoding tool that maps your address data. You can:</p>
            <ul>
              <li>Convert a list of addresses to latitudes and longitudes</li>
              <li>Make a cluster map or heat map with your data</li>
              <li>Save your geocoding tasks under your account</li>
            </ul>
            <p class="tinyText">This project is brought to you by Shift Research Lab with help from Code for Denver</p>
            <button type="submit" class="btn btn-default learnmoreButton">learn more</button>
          </div>
          <div class="col-md-5 locationPosition">
            <!-- <div class="col-md-3">
              <div class="glyphicon glyphicon-map-marker"></div>
            </div> -->
          <div class="col-md-9">
          <!-- <div class="locationText">DENVER, COLORADO</div>
          <div class="thinText">Lattitude</div>
          <div class="thinText">Longitude</div> -->
          <img class="animate" src="imgCFD/homepageimage.gif">
          </div>

          </div>
        </div>

      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

	<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
 <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script>
  $( function() {
    $( "#dialog" ).dialog({
      autoOpen: false,
    });

    $( "#opener" ).on( "click", function() {
      $( "#dialog" ).dialog( "open" );
    });
  } );
  </script>

  </body>
</html>
